@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #fff; 
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    width: 60px;
  }
  
  .logo-image {
    width: 100%;
    margin-left: 40px;
  }
  
  .nav-menu {
    display: flex;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
  }
  
  .nav-item {
    margin-right: 25px;
  }
  
  .nav-item:last-child {
    margin-right: 10px; /* Menghilangkan jarak setelah item terakhir */
  }
  
  .nav-link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #000;
    position: relative;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  .nav-item.active .nav-link {
    position: relative;
  }
  
  .nav-item.active .nav-link::after {
    width: 100%;
  }